* {
    margin: 0;
    padding: 0;
}
:root {
    --main-color: #8b1f41;
    --main-sunset: #ED8B00
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div#title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    border: grey;
}

div#logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

div#logo-box > img {
    width: 80px;
    height: auto;
    padding: 16px 8px;
}

div#login-box {
    margin: 0 5px;
}

ul.messages{
    font-weight: bold;
    padding: 1em;
    margin: 0;
    list-style: none;
}

ul.messages li.info{
    background-color: lightskyblue;
    padding: 1em;
    margin: 0.25em;
}

ul.messages li.warning{
    background-color: red;
    padding: 1em;
    margin: 0.25em;
}

img#notification {
    display: none;
    float: right;
}

.search-form {
    display: none;
    float: right;
}

div#login-box > a {
    display: none;
    float: right;
}

#login-box img{
    float: right;
    width: 25px;
    height: 25px;
    padding: 0 4px;
}

ul#primary-nav {
    padding: 0;
    list-style-type: none;
    background-color: var(--main-sunset);
}

ul#primary-nav li{
    width: 25%;
    height: 32px;
}

ul#primary-nav li a {
    text-align: center;
    display: block;
    text-decoration: none;
    margin: 5px;
    color: #fff;
}

ul#primary-nav li a.selected{
    background-color: #000;
}

.item-container img{
    width: 100px;
    height: 100px;
}

.dashboard{
    height: 580px;
}

.dash-col > h1{
    border-bottom: 1px solid gray;
}

div#idea-box img{
    width: 100%;
    height: 400px;
}

div#idea-box h1{
    text-align: center;
    padding: 35px;
}

div#idea-box2 img{
    width: 100%;
    height: 400px;
}

div#idea-box2 h1{
    text-align: center;
    padding: 35px;
}

div#subscribe-box {
    padding: 8px 4px;
    display: flex;
    align-items: center;
}

div#footer {
    background-color: var(--main-color);
    height: 80px;
}

div#subscribe-box > img {
    float: left;
    width: 25px;
    height: 25px;
    margin: 0 4px;
}

div#subscribe-box > input {
    float: left;
    margin: 0 4px;
}

div#subscribe-box > a {
    float: left;
    margin: 0 4px;
}

div#subscribe-box > button {
    float: left;
    margin: 0 4px;
    width: 50px;
    font-size: 0.25em;
}

p#footer-nav {
    margin: 0px 6px;
}

p#footer-nav a {
    text-decoration: none;
    color: white;
}

@media screen and (min-width: 768px){
    img#notification {
        display: block;
    }

    .search-form {
        display: block;
    }

    .search-input {
        width: 100px;
    }

    .go-button {
        width: 25px;
    }

    div#login-box > a {
        display: inline;
    }

    img#search-image {
        display: none;
    }

    img#bar {
        display: none;
    }

    div#login-box {
        width: 310px;
    }

    div#logo-box > img {
        width: 120px;
        height: auto;
        padding: 16px 8px;
    }

    ul#primary-nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    div#content {
        min-height: 90vh;
    }

    div#idea-box > img {
        display: block;
        width: 45vw;
        height: 600px;
        padding: 20px 20px;
    }

    div#idea-box2 > img {
        display: block;
        width: 45vw;
        height: 600px;
        padding: 20px 20px;
    }
    
    div#idea-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div#idea-box2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
    }
    div#idea-box h1{
        display: block;
        width: 50vw;
    }

    div#idea-box2 h1{
        display: block;
        width: 50vw;
    }

    div#subscribe-box {
        display: flex;
        align-items: center;

    }

    div#footer {
        height: 100px;
        display: flex;
        align-items: center;
    }

    div#subscribe-box > img {
        width: 40px;
        height: 40px;
    }

    div#subscribe-box > input {
        height: 25px;
        width: 300px;
    }
    div#subscribe-box  > button {
        height: 30px;
        width: auto;
        padding: 0 8px;
        font-size: 1rem;
        background-color: var(--main-sunset);
        color: white;
        border:0
    }

    div#subscribe-box  > button:hover{ 
        background-color: gray;
        cursor: pointer;
    }

    p#footer-nav a {
        
        font-size: 1rem;
        margin: 0 8px;
    }

    p#footer-nav a:hover{
        color: var(--main-sunset);
    }



   
}