<h3>Recent Activity</h3>

<ul>
{% for action in actions %}

    
    {% if action.verb == "edit the profile" %}
    <li>{{action.user.username}} {{action.verb}} "<a href="{% url 'users:profile' action.user.username %}">{{action.target}}</a>" ({{action.created_time}})</li>
    {% else %}
    <li>{{action.user.username}} {{action.verb}} "<a href="{{action.target.get_absolute_url}}">{{action.target}}</a>" ({{action.created_time}})</li> 
    {% endif %}
        
{% empty %}

    <li>No activity yet.</li>
    
{% endfor %}
</ul>

    