{% extends "second_hand_clothes_app/base.html" %}
{% load static %}
{% block page-title %} Add Item Page {% endblock %}

{% block login-box %}
<img id="bar" src="{% static 'pictures/bar.svg' %}" alt="bar">
{% if request.session.username %}
<a href="{% url 'second_hand_clothes_app:log_out' %}"><img id="sign_out" src="{% static 'pictures/sign-out.svg' %}"
        alt="signout"></a>
{% endif %}
<img id="search-image" src="{% static 'pictures/search.svg' %}" alt="search">
<form class="search-form" action="{% url 'second_hand_clothes_app:clothes_search_result' %}" method="GET">
    <input class="search-input" type="text" id="search" name="search-clothes" placeholder="Search clothes">
    <input class="go-button" type="submit" name="search" value="Go">
</form>
<img src="{% static 'pictures/cart.png' %}" alt="cart">
<a href="{% url 'users:register' %}"> Register </a>
{% if request.session.username %}
<p>Hi, <a href="#">{{request.session.username}}</a></p>
{% else %}
<a href="{% url 'second_hand_clothes_app:clothes_sign_in' %}">log In</a>
{% endif %}

{% endblock %}

{% block content %}

{% if request.session.username %}
<h3>Create item</h3>
<form id="form-box" action="{% url 'second_hand_clothes_app:clothes_add_item' %}" method="POST" enctype="multipart/form-data">
    <div class="form-item" id="form-name">
        <label for="name">Name* :</label><br>
        <input class="name-price" id="name" type="text" name="name" required>
    </div><!-- #form-item -->
    <!-- <div class="form-item" id="check-women">
        <p>Group:
        <p><br>
        <div class="checkbox-box">
            <div class="checkbox-item">
                <input type="checkbox" id="women" name="women">
                <label class="check-label" for="women"> Women</label>
            </div>
            <div class="checkbox-item">
                <input type="checkbox" id="men" name="men">
                <label id="check-label" for="men"> Men</label>
            </div>
        </div>
    </div>
    <div class="form-item" id="check-top">
        <p>Kind:
        <p><br>
        <div class="checkbox-box">
            <div class="checkbox-item">
                <input type="checkbox" id="top" name="top">
                <label class="check-label" for="top">Top</label>
            </div>
            <div class="checkbox-item">
                <input type="checkbox" id="bottom" name="bottom">
                <label class="check-label" for="bottom"> Buttom</label>
            </div>
        </div>
    </div> -->
    <div class="form-item" id="form-size">
        <label for="size">Size* :</label><br>
        <input class="name-price" type="text" name="size" id="size" required><br>
    </div><!-- #form-item -->
    <div class="form-item">
        <label for="photo">Photo* :</label>
        <input type="file" id="image" name="image" accept="image/*" required>
    </div><!-- #form-item -->
    <div class="form-item" id="form-price">
        <label for="price">Price* :</label><br>
        <input class="name-price" type="text" name="price" id="price" required>
    </div><!-- #form-item -->
    <div class="form-item" id="form-des">
        <label for="description">Description :</label><br>
        <input class="des-box" type="text" name="description" id="description"><br>
    </div><!-- #form-item -->
    <div id="submit-button">
        <button id="submit">Submit</button>
    </div>
    {% csrf_token %}

</form>
{% else %}
<div id="create-box">
    <h3>Create item</h3>
    <div id="warn-box">
        <p>Not a member? <a href="{% url 'users:register' %}">Register</a> to be a member and <a
                href="{% url 'second_hand_clothes_app:clothes_sign_in' %}">Sign In</a> to sell your items.</p>
    </div>
</div><!-- #create-box -->
{% endif %}


{% endblock %}


{% block css-box %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/add_item.css' %}">
{% endblock %}