{% extends "second_hand_clothes_app/base.html" %}
{% load static %}
{% block page-title %} Detail Page {% endblock %}
{% load humanize %}



{% block content %}
<a href="{% url 'second_hand_clothes_app:clothes_list' %}"><img class="left-arrow"
        src="{% static 'pictures/left.svg' %}" alt="left arrow"></a>
<div id="image-box">
    <img src="{{ clothes_item.picture.url }}" alt="item">
</div><!-- #image-box -->

<div id="item-box">
    <h3>{{clothes_item.name}}</h3>
    <p id="price"> ${{clothes_item.price}}</p>
    <p>Size : {{clothes_item.size}}</p>
    <p>Sold by : <a href="{% url 'users:profile' clothes_item.user.username %}">{{clothes_item.seller}}</a></p>
    <button id="add_cart">Add To Cart</button>
    {% if request.session.username %}
    <a href="{% url 'second_hand_clothes_app:clothes_edit' clothes_item.id %}">
        <button class="btn btn-secondary">Edit</button>
    </a>
    {% if request.session.role == "admin" %}
    <a href="{% url 'second_hand_clothes_app:clothes_delete' clothes_item.id %}">
        <button class="btn btn-danger" id="delete">Delete</button>
    </a>
    {% endif %}
    {% endif %}
</div><!-- #item-box -->
<div id="des-box">
    <h3>Description</h3>
    <p>{{clothes_item.description}}</p>
</div><!-- #description-box -->

<div id="comment-box">
    <h3>Comments About the Seller</h3>
    <div id="comment-content" data-ajax-url="{% url 'second_hand_clothes_app:clothes_delete_comment' %}">
        
        {% if comments %}
        {% for comment in comments %}
        <div class="show-comments">
            
            {% if request.session.role == "regular" %}
            
            {% if comment.username == request.session.username %}
            <p><a href="{% url 'users:profile' comment.username %}">{{comment.username}}</a>: {{comment.comment}}</p>
            <p>{{comment.created_time | naturaltime}}</p>
            <button id="comment-delete" comment-id="{{comment.id}}" data-ajax-url="{% url 'second_hand_clothes_app:clothes_delete_comment' %}">Delete</button>
            {% else %}
            <p><a href="{% url 'users:profile' comment.username %}">{{comment.username}}</a>: {{comment.comment}}</p>
            <p>{{comment.created_time | naturaltime}}</p>
            {% endif %}
            
            {% endif %}

            
            {% if request.session.role == "admin" %}
            <p><a href="{% url 'users:profile' comment.username %}">{{comment.username}}</a>: {{comment.comment}}</p>
            <p>{{comment.created_time | naturaltime}}</p>
            <button id="comment-delete" comment-id="{{comment.id}}" data-ajax-url="{% url 'second_hand_clothes_app:clothes_delete_comment' %}">Delete</button>
            {% endif %}

        </div>
        {% endfor %}

        {% else %}
        <div class="no-comment">
            <p>No comment.</p>
        </div>
            
        {% endif %}
            
        
        
            
    </div>
    
    {% if request.session.username %}
    <input id="comment-input" type="text" placeholder="leave a comment ....">
    <button id="comment-button" data-clothes-id="{{clothes_item.id}}" data-ajax-url="{% url 'second_hand_clothes_app:clothes_add_comment' %}">Submit</button>
    {% endif %}
        
</div><!-- #comment-box -->

{% endblock %}

{% block css-box %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/detail.css' %}">
{% endblock %}