{% extends "second_hand_clothes_app/base.html" %}
{% load static %}
{% block page-title %} Detail Page {% endblock %}


{% block login-box %}
<img id="bar" src="{% static 'pictures/bar.svg' %}" alt="bar">
{% if request.session.username %}
<a href="{% url 'second_hand_clothes_app:log_out' %}"><img id="sign_out" src="{% static 'pictures/sign-out.svg' %}"
        alt="signout"></a>
{% endif %}
<img id="search-image" src="{% static 'pictures/search.svg' %}" alt="search">
<form class="search-form" action="{% url 'second_hand_clothes_app:clothes_search_result' %}" method="GET">
    <input class="search-input" type="text" id="search" name="search-clothes" placeholder="Search clothes">
    <input class="go-button" type="submit" name="search" value="Go">
</form>
<img id="notification" src="{% static 'pictures/notification.svg' %}" alt="notification">
<img src="{% static 'pictures/cart.png' %}" alt="cart">
{% if request.session.username %}
<p>Hi, <a href="#">{{request.session.username}}</a></p>
{% else %}
<a href="{% url 'second_hand_clothes_app:clothes_sign_in' %}">log In</a>
{% endif %}
{% endblock %}


{% block content %}
<a href="{% url 'second_hand_clothes_app:clothes_list' %}"><img class="left-arrow"
        src="{% static 'pictures/left.svg' %}" alt="left arrow"></a>
<div id="image-box">
    <img src="{{ clothes_item.picture.url }}" alt="item">
</div><!-- #image-box -->

<div id="item-box">
    <h3>{{clothes_item.name}}</h3>
    <p id="price"> ${{clothes_item.price}}</p>
    <p>Size : {{clothes_item.size}}</p>
    <p>Sold by : <a href="#">{{clothes_item.seller}}</a></p>
    <button id="add_cart">Add To Cart</button>
    {% if request.session.username %}
    <a href="{% url 'second_hand_clothes_app:clothes_edit' clothes_item.id %}">
        <button class="btn btn-secondary">Edit</button>
    </a>
    {% if request.session.role == "admin" %}
    <a href="{% url 'second_hand_clothes_app:clothes_delete' clothes_item.id %}">
        <button class="btn btn-danger" id="delete">Delete</button>
    </a>
    {% endif %}
    {% endif %}
</div><!-- #item-box -->
<div id="des-box">
    <h3>Description</h3>
    <p>{{clothes_item.description}}</p>
</div><!-- #description-box -->

<div id="comment-box">
    <h3>Comments About the Seller</h3>
    <!-- <p id="comment-title"></p> -->
    <div id="comment-content"></div>
    <button id="show_comment" data-clothes-id="{{clothes_item.id}}" data-ajax-url="{% url 'second_hand_clothes_app:clothes_show_comment' %}">Show comments</button>
    
    {% if request.session.username %}
    <input id="comment-input" type="text" placeholder="leave a comment ....">
    <button id="comment-button" data-clothes-id="{{clothes_item.id}}" data-ajax-url="{% url 'second_hand_clothes_app:clothes_add_comment' %}">Submit</button>
    {% endif %}
        
</div><!-- #comment-box -->

{% endblock %}

{% block css-box %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/detail.css' %}">
{% endblock %}