{% extends "second_hand_clothes_app/base.html" %}
{% load static %}
{% block page-title %} List Page {% endblock %}



{% block content %}
<ul id="kind-nav">
    <li><a href="#">Top</a></li>
    <li><a href="#">Bottom</a></li>
</ul><!-- #nkind-nav -->

<a href="{% url 'second_hand_clothes_app:clothes_sort' %}">
    <button class="sort-price" id="sort">Sort by Price</button>
</a>

<div id="item-list">
    
    {% if clothes %}
        {% for item in clothes %}
        <div class="item-box">
            <a href="{% url 'second_hand_clothes_app:clothes_detail' item.id %}">
                <img src="{{ item.picture.url }}" alt="item">
            </a>
            <h4>{{item.name}}</h4>
            <p>Sold by: <a href="#">{{item.seller}}</a></p>
            <p class="item-price">${{item.price}}</p>
        </div>
        {% endfor %}
    {% else %}
        <h1>There are no clothes right now.</h1>
    {% endif %}
        
    
</div>
{% endblock %}

{% block css-box %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/list.css' %}">
{% endblock %}